<!-- post_imageの投稿一覧_list -->
<h5 class="border-bottom shadow-sm m-5 p-2 text-center">
  <i class="fa-regular fa-images"></i> 投稿一覧
</h5>
<%= render 'list', post_images: @post_images, tags: @tags %>
<%= paginate @post_images, theme: 'bootstrap-5' %>