<div class="ps-relative">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <div class="filter">
          <img src="/assets/01.webp" class="d-block w-100 filter-img" alt="ふなっこ流し">
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <img src="/assets/02.webp" class="d-block w-100 filter-img" alt="チャグチャグ馬っ子">
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <img src="/assets/03.webp" class="d-block w-100 filter-img" alt="わんこそば">
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="ps-absolute" style="top: 38%; left: 42%;">
      <h1 class="text-white">TOKO IWATE</h1>
    </div>
    <div class="ps-absolute" style="top: 45%; left: 35%;">
      <p class="text-white">岩手の観光地、名物を投稿して、みんなにシェアしちゃおう！
        <br>雄大な自然、美しい景色、おいしい食べ物、そして心温まる人々が待つ岩手県。
        <br>あなたが感じた「魅力」を1枚の写真に収めて投稿してみませんか？
        <br>そして、みんなが投稿した「魅力」を参考に、岩手を旅しよう！
      </p>
    </div>
    <div class="ps-absolute" style="top: 59%; left: 38%;">
          <%= link_to "新規登録", new_user_registration_path, class:'btn btn-outline-primary mr-3' %>
          <%= link_to "ログイン", user_session_path, class:'btn btn-outline-secondary mr-3' %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-success mr-3" %>
    </div>
  </div>
</div>
