<h1>全ユーザー一覧</h1>
  <p>trueなら退会ユーザー、消したらそのメアドで再登録できる</p>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> - <%= user.email %>
      <%= user.is_deleted %>
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
    </li>
  <% end %>
</ul>